body {
  font-family: "Crimson Text", Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 400;
  background-image: url(../images/library.jpg);
  background-size: cover;
  color: white;
  margin: 20px;
}

nav ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 0;
  text-transform: uppercase;
  letter-spacing: 2px;

  span {
    padding-left: 15px;
  }

  a {
    text-decoration: none;
    color: white;
  }
}

.search__form {
  width: 600px;
  margin: 0 auto;

  input {
    height: 55px;
    width: 100%;
    color: white;
    background-color: transparent;
    border: none;
    border-bottom: 3px solid rgba(255,255,255,0.5);
    font-family: "Crimson Text";
    font-size: 48px;
    font-style: italic;
    letter-spacing: 1px;
    -webkit-appearance: none;

    &::-webkit-autofill {
      color: white;
      background-color: transparent;
    }

    &::placeholder {
      color: white;
      background-color: transparent;
    }

    &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
      color: white;
      background-color: transparent;
    }
    &::-moz-placeholder { /* Firefox 19+ */
      color: white;
      background-color: transparent;
    }
  
    &::-webkit-input { /* For WebKit browsers */
      height: 55px;
      width: 100%;
      background-color: transparent;
      border: none;
      border-bottom: 3px solid rgba(255,255,255,0.5);
      font-family: "Crimson Text";
      font-size: 48px;
      font-style: italic;
      letter-spacing: 1px;
    }
  }
    /* Change Autocomplete styles in Chrome*/
  input:-webkit-autofill,
  input:-webkit-autofill:hover, 
  input:-webkit-autofill:focus
  input:-webkit-autofill, 
  textarea:-webkit-autofill,
  textarea:-webkit-autofill:hover
  textarea:-webkit-autofill:focus,
  select:-webkit-autofill,
  select:-webkit-autofill:hover,
  select:-webkit-autofill:focus {
    border: none;
    -webkit-text-fill-color: white;
    background-color: transparent;
    transition: background-color 5000s ease-in-out 0s;
  }
}

.results {
  width: 960px;
  height: 800px;
  overflow: auto;
  background: rgba(0,0,0,.5);
  margin: 0 auto;

  h1 {
    font-size: 48px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0;
    letter-spacing: 1px;
  }

  ul {
    list-style: none;
    border-top: 3px solid white;
    margin-top: 0;
  }

  li {
    border-bottom: 1px solid #2b2b2b;
    font-size: 16px;

    span {
      color: #999999;
      margin-left: 20px;
      font-size: 20px;
    }
  }
}
